<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.order.mapper.OrderMapper">

    <resultMap id="orderResultMap" type="com.mall.order.entity.Order">
        <result column="id" property="id"/>
        <result column="userId"  property="userId" />
        <result column="orderDate"  property="orderDate" />
        <result column="orderStatus"  property="orderStatus" />
        <result column="amount"  property="amount" />
        <result column="userName"  property="userName" />
        <result column="userPhone"  property="userPhone" />
        <result column="userAddress"  property="userAddress" />
    </resultMap>

    <select id="getOrderById" resultMap="orderResultMap" parameterType="Integer">
        select id,userId,orderDate,orderStatus,amount,userName,userPhone,userAddress
        from t_order
        where id = #{id}
    </select>

    <select id="getOrderByMap" resultMap="orderResultMap" parameterType="Map">
        select id,userId,orderDate,status,amount,userName,userPhone,userAddress
        from t_order
        <trim prefix="where" prefixOverrides="and">
            <if test="_parameter.containsKey('userId')">
                and userId = #{userId}
            </if>
            <if test="_parameter.containsKey('status')">
                and status=#{status}
            </if>
            <if test="_parameter.containsKey('orderDate')">
                and orderDate=#{orderDate}
            </if>
        </trim>
    </select>

    <insert id="addOrder" useGeneratedKeys="true" keyProperty="id" parameterType="com.mall.order.entity.Order">
        insert into t_order (userId,orderDate,orderStatus,amount,userName,userPhone,userAddress)
        values (#{userId},#{orderDate},#{orderStatus},#{amount},#{userName},#{userPhone},#{userAddress})
    </insert>

    <delete id="deleteOrder" parameterType="Integer" >
        delete from t_order where id = #{id}
    </delete>

</mapper>
