<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.user.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.mall.user.entity.User">
        <result column="id" property="id"/>
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="trueName"  property="trueName" />
        <result column="phone"  property="phone" />
        <result column="email"  property="email" />
        <result column="address"  property="address" />
        <result column="cteateDate"  property="cteateDate" />
    </resultMap>

    <select id="getUserById" resultMap="userResultMap" parameterType="Integer">
        select id,userName,password,trueName,phone,email,address,cteateDate
        from t_user
        where id = #{id}
    </select>

    <select id="getUsersByIds" resultMap="userResultMap" parameterType="java.util.Collection">
        select id,userName,password,trueName,phone,email,address,cteateDate
        from t_user
        where id in
        <foreach collection="collection" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
